.products-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto repeat(3, 1fr);
  grid-gap: 20px;
  grid-template-areas:
    "title title title"
    "image-1 description-1 description-1"
    "description-2 description-2 image-2"
    "image-3 description-3 description-3";
  max-width: 1280px;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.product-image-1 img,
.product-image-2 img,
.product-image-3 img {
  width: 230px;
}
.product-description-1,
.product-description-3 {
  padding-right: 20%;
}
.product-description-2 {
  padding-left: 20%;
}
p {
  font-size: 14px;
}
.products h1 {
  grid-area: title;
}
.product-image-1 {
  grid-area: image-1;
}

.product-description-1 {
  grid-area: description-1;
}
.product-image-2 {
  grid-area: image-2;
}
.product-description-2 {
  grid-area: description-2;
}
.product-image-3 {
  grid-area: image-3;
}
.product-description-3 {
  grid-area: description-3;
}
@media screen and (max-width: 680px) {
  .products-container {
    display: inherit;
    margin-right: auto;
    margin-left: auto;
  }
  .product-description-1, .product-description-2, .product-description-3 {
    padding: 0 10% 40px;
  }
  figure {
    text-align: center;
  }
}
