@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  /* Colors */
  --green-color: #6dc526;
  --white-color: #fff;
  --black-color: #313337;
  --dark-green-color: #366410;
  --light-gray-color: #eeeeee;
  /* Box-shadow */
  --box: 0px 0px 21px -4px rgba(0, 0, 0, 0.5);
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

header {
  background: var(--green-color);
}
.header-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo . nav";
  align-items: center;
}
.logo {
  margin: 12px;
  grid-area: logo;
}
.menu {
  grid-area: nav;
}
.menu ul {
  display: flex;
  justify-content: flex-end;
  padding:0;
}
.menu li {
  marker: none;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  padding: 0 20px;
  color: var(--black-color);
  font-weight: 600;
}

.menu li a:hover {
  color: var(--white-color);
}
.main {
  /* width: minmax(1128px, 1600px); */
  justify-content: center;
}
h1 {
  display: block;
  font-size: 32px;
  text-align: center;
  padding: 0;
  margin-top: 100px;
}
.card-list {
  display: flex;
  margin-top: 160px;
  padding-bottom: 80px;
  justify-content: center;
  background-image: url("../images/curve.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: auto;
}
.card {
  margin: -100px 10px 20px;
  padding: 10px;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: var(--box);
  max-width: 250px;
}
.product-image {
  text-align: center;
}
.card h2 {
  font-size: 28px;
}
.main-button {
  background-color: var(--green-color);
  width: 100%;
  padding: 10px;
  font-size: 17px;
  color: var(--white-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.main-button:hover {
  background-color: var(--dark-green-color);
}

.adventages {
  display: flex;
  justify-content: center;
  padding: 100px 0 50px;
  border-bottom: 1px solid #eeeeee;
}

.adventage {
  width: 200px;
  margin: 40px;
  padding: 20px;
}
.adventage figure {
  text-align: center;
  width: 150px;
  height: 50%;
}
.adventage img {
  width: 100%;
}
.adventage h3 {
  font-size: 17px;
  text-align: center;
}
.mentions {
  padding: 0 150px 68px;
}
.mentions h2 {
  display: block;
  font-size: 32px;
  text-align: center;
  padding: 0;
  margin: 100px 0 40px;
}
.mentions-list {
  display: flex;
  justify-content: center;
}
.mention-card {
  margin: 10px;
  width: 240px;
}
.mention-card figure {
  margin: 0;
  /* margin-bottom: -4px; */
}
.mention-card p {
  width: 100%;
}
.card-text {
  padding: 10px;
  padding-top: 0;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.5);
}
.card-text h3 {
  margin: 0 0 10px;
}
.card-text p {
  margin-top: 0px;
}
footer {
  background: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}
footer a {
  color: var(--white-color);
  text-decoration: none;
  margin: 20px;
}
